body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f1ee;
    margin: 0;
    color: #333;
}

* {
  margin:  5px;
  padding: 5px;
  box-sizing: border-box;
}


/* nav */

.navbar-brand img{
  width: 150px;
}

/* Fin de la nav */


/* header */

.banner img{
  width: 95vw;
  height:70vh;
  justify-content: center;
}

/* card */

.card-body
{
  background-color:rgb(226, 225, 225);
}
.galeria{
  display: flex;
  justify-content: center;
}


/* card */


/* Fin del header */



/* footer */

.media-footer {
  background-color: #f2f2f2;
  border-radius: 8px;
  text-decoration: none;
}

.ulfooter {
  display: flex;
  padding: 1rem;
  list-style: none;
  justify-content: center;
}

.ulfooter img {
  width: 55px;
}

/* Fin del footer */


