* {
  margin:  5px;
  padding: 5px;
  box-sizing: border-box;
}

/* nav */

.navbar-brand img{
  width: 150px;
}

/* Fin de la nav */


/* header */

.banner img{
  width: 95vw;
  height:70vh;
  margin: 10px;
  padding: 10px;
  background-size: cover;
}

/* card */


.galeria{
  display: flex;
}


/* card */


/* Fin del header */


/* footer */

.media-footer {
  background-color: #f2f2f2;
  border-radius: 8px;
  text-decoration: none;
}

.divfooter {
  display: flex;
  padding: 1rem;
  list-style: none;
  justify-content: center;
}

.divfooter img {
  width: 55px;
}

/* Fin del footer */


